<div class="jumbotron">
    <h1>{{title}}</h1>
    <p>Este ejemplo está desarrollado con las siguientes tecnologías:</p>
    <p>
      Backend: VisualStudio 2022, Aplicación Web con WebApi2, EntitiyFramework 6,
      múltiples capas en C#.
    </p>
    <p>
      Frontend: Single Page Application, HTML, CSS, Bootstrap, Typescript y
      Angular.
    </p>
    <button type="button" class="btn btn-lg btn-primary" routerLink="/articulos">
      <i class="fa fa-search">Ver ABMC artículos</i>
    </button>
  </div>